/* Colors */
.primary-color {
  color: #2db3bb;
}

.secondary-color {
  color: #ffec83;
}

/* Utility classes */

/* Text on a dark-colored background */
.text-on-dark-bg,
.text-on-dark-bg p  {
  color: rgba(255, 255, 255, .9);
}
.text-on-dark-bg h3 {
  color: rgb(255, 255, 255);
}
.text-on-dark-bg h5 {
  color: rgba(255, 255, 255, .6);
}

/* Text on a light-colored background */
.text-on-light-bg,
.text-on-light-bg p  {
  color: rgba(8, 29, 34, 0.9);
}
.text-on-light-bg h3 {
  color: rgb(255, 255, 255);
}
.text-on-light-bg h5 {
  color: rgba(255, 255, 255, .6);
}

.hide {
  display: none; 
}

/* Small screens */
@media screen and (max-width: 769px) {
  .hide-for-small-screens {
    display: none;
  }
}

/*-- Home page  --*/
.visitor-section-main-block .featured_block_inner {
  height: 100%;
  display: flex;
  align-items: center;
}

/*-- Ministries page --*/

.ministry-section {
  padding-top: 50px;
}

.ministry-section h1,
.ministry-section p {
  color: #23272f;
}

.ministry-section-dark-bg h1,
.ministry-section-dark-bg p {
  color: #ffffff;
}

.section-anchor p {
  padding: 0;
}

/* Medium screens and up */
@media screen and (min-width: 769px) {
  .ministry-section {
    min-height: 400px;
  }
}

/*-- New to Faith page --*/

/* Heading */
.schedule-box h3 {
  font-size: 2rem;
}

.schedule-box h5 {
  line-height: 1rem;
}

/* Medium screens and up */
@media screen and (min-width: 769px) {
  .schedule-box {
      display: flex;
      align-items: center;
      min-height: 34rem;
  }

  /* Let flexbox vertically center the content */
  .schedule-box > div {
    height: auto !important;
  }
}

.featured-text {
  color: #23272f;
  font-size: 32px;
  line-height: 50px;
  margin: 50px 0;
}

.map-full-width {
  margin: 0;
}

.hide-for-small {
  display: none !important;
}

/* Medium screens and up */
@media screen and (min-width: 769px) {
  .hide-for-small{
    display: block !important;
  }
}

.safari_only .cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_column.new-to-faith-section-image .cmsmasters_column_inner {
  height: 100%;
}

/*-- Staff pages --*/

/* Hide "Profile details" sidebar */
.single-profile .profile_sidebar {
  display: none;
} 

.cmsmasters_open_profile .profile_content.with_sidebar {
  width: 100%;
  float: none;
}

/* Hide comment box */
.single-profile #respond {
  display: none;
}

/*-- Media page --*/

.cmsmasters_open_sermon .cmsmasters_img_wrap {
  display: none;
}

/*-- Events page --*/

/* Hide the header */
.single-tribe_events .headline {
  display: none;
}

/* Fix day color on month view */
table.tribe-events-calendar tbody td.tribe-events-thismonth div[id*=tribe-events-daynum-] {
  background-color: #dedede;
  color: #8a8a8c; 
}

table.tribe-events-calendar tbody td.tribe-events-othermonth div[id*=tribe-events-daynum-] {
  color: #8a8a8c;
}

/*-- My Church theme overrides --*/

/* Navigation link for current page */
ul.navigation > li.menu-item.current-menu-item > a,
ul.navigation > li.menu-item.current-menu-ancestor > a {
  color: #01babc;
}

/* Homepage calendar widget */

.home .cmsmasters_event_big_date,
.home .tribe-events-list-widget-content-wrap,
.home .tribe-events-list-widget .cmsmasters_widget_event_info,
.home .tribe-events-list-widget .cmsmasters_widget_event_info .duration,
.home .tribe-events-list-widget .cmsmasters_events_more {
  text-align: center !important;
}

.home .tribe-events-list-widget > .widgettitle {
  display: none;
}

.home .cmsmasters_event_big_date, 
.home .tribe-events-list-widget-content-wrap, 
.home .tribe-events-list-widget .cmsmasters_widget_event_info, 
.home .tribe-events-list-widget .cmsmasters_widget_event_info .duration, 
.home .tribe-events-list-widget .cmsmasters_events_more {
  text-align: left !important;
}

.cmsmasters_event_big_date {
  width: 25%;
}

.tribe-events-list-widget-content-wrap {
  width: 75%;
}

.cmsmasters_event_big_day {
  color: #d4d4d4;
}

@media only screen and (max-width: 768px) {

  .home .cmsmasters_event_big_date,
  .home .tribe-events-list-widget-content-wrap,
  .home .tribe-events-list-widget .cmsmasters_widget_event_info .duration,
  .home .tribe-events-list-widget .cmsmasters_events_more {
      width: 100%;
      text-align: center !important;
  }
}

/* Footer */

#bottom {
  z-index: 1;
}